body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    width: 100%; height: 100%;
    min-width: 100%;

}

.logo-img {
    width:190px;
}

#queryPerson{
    border-bottom: 1px solid #fff;
}

/*覆盖原来的样式*/
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgb(238, 110, 115);
    color: #fff;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: #aaa;
    cursor: default;
    background: #eee;
}
