.aside,
.aside-overlay {
    position: fixed;/*生成绝对定位的元素，相对于浏览器窗口进行定位。*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aside {
    -webkit-transition: visibility .25s;
    transition: visibility .25s;
    z-index: 3;
    visibility: hidden;/*使元素不可见*/
    overflow: hidden;
    margin-bottom: 0;
    z-index:4;
}
.aside .module-header{
    display: block;
    /* line-height: 44px; */
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 20px;
    border-bottom:1px solid #fff;
}
.aside.active {
    -webkit-transition: none;
    transition: none;/*none	没有属性会获得过渡效果。*/
    visibility: visible;
}

.aside-overlay {
    background-color: black;
    opacity: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}

.active > .aside-overlay {
    opacity: .6;
}

.aside .module-footer {
    bottom: 10px;
    position: absolute;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px;
    width: 100%;
    height:80px;
}

/*交集选择器层叠掉上面的样式*/
.aside .module-footer.row {
    bottom: 10px;
    position: absolute;
    background-color: inherit;
    border:0px;
    left:-8px;
    width: 100%;
}

/*手机屏幕底部样式*/
@media screen and (max-width: 480px){
    .aside .module-footer.row {
        position: absolute;
        bottom: 0px;
        left:0px;
        width: 100%;
        background-color: inherit;
        border:0px;
    }
}

.aside .module-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 92px;
    overflow: auto;/*如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。*/
    -webkit-overflow-scrolling: touch;
    /* 网页在Safari快速滚动和回弹*/
}

.aside .scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 601px) {
    .aside-content {

        bottom: 0 !important;
        top: 0 !important;
    }
}


.aside-content {
    position: absolute;

    -webkit-transition: transform .15s;
    transition: transform .15s;
    left: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    bottom: 50px;
    top: 65px;
    margin-bottom: 0;


}
.active > .aside-content {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}



.noscroll,
.noscroll body {
    overflow: hidden;
}

.noscroll body {
    position: absolute;
}